<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Wedding</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

  <!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FREEHTML5.CO
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/icomoon.css') }}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="icon" href="{{ url_for('static', filename='images/rings.png') }}">
	<!-- Modernizr JS -->
	<script src="{{ url_for('static', filename='js/modernizr-2.6.2.min.js') }}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
		<nav class="fh5co-nav" role="navigation">
			<div class="container">
				<div class="row">
					<div class="col-xs-2">
						<div id="fh5co-logo"><a href="index.html">Casamento<strong>.</strong></a></div>
					</div>
					<div class="col-xs-10 text-right menu-1">
						<ul>
							<li><a href="{{ url_for('home') }}">Início</a></li>
							<li ><a href="{{ url_for('rsvp') }}">Presenças</a></li>
							<li class="active"><a href="{{ url_for('housing') }}">Alojamento</a></li>
						</ul>
					</div>
				</div>
				
			</div>
		</nav>

	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(images/img_bg_1.jpg);">
		<div class="overlay"></div>
		<div class="fh5co-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Alojamentos</h1>
							<h2>Caso necessitem de alojamento, por favor vejam as opções abaixo</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
<!-- Main Content -->
<section class="container" style="padding: 60px 0;">
	<div class="row text-center">
	  <h2 class="animate-box">Alojamento</h2>
	</div>
	<div class="row" style="margin-top: 30px;">
	  <!-- Hotel 1 -->
	  <div class="col-md-6 animate-box">
		<div class="thumbnail">
		  <img src="{{ url_for('static', filename='images/golden_tulip.jpg') }}" alt="Golden Tulip São João da Madeira" class="img-responsive">
		  <div class="caption text-center">
			<h3>Golden Tulip</h3>
			<p>
			  <a href="https://maps.app.goo.gl/vxM8bRYiihUznkCV8" target="_blank">
				<i class="icon-pin"></i> Localização
			  </a>
			</p>
			<p>Para efetuar reserva no <a href="https://sao-joao-madeira.goldentulip.com/en-us/?sr=SEO_GOOGLE" target="_blank">Golden Tulip São João da Madeira</a>, deverão utilizar a referência <strong>"CASAMENTO CLÁUDIA E TO-ZÉ"</strong> para terem acesso a 10% de desconto sobre a tarifa reembolsável no site.</p>
		  </div>
		</div>
	  </div>
  
	  <!-- Hotel 2 -->
	  <div class="col-md-6 animate-box">
		<div class="thumbnail">
		  <img src="{{ url_for('static', filename='images/dighton.jpg') }}" alt="Hotel Dighton Oliveira de Azeméis" class="img-responsive">
		  <div class="caption text-center">
			<h3>Dighton</h3>
			<p>
			  <a href="https://maps.app.goo.gl/68P2LEZdHsRBiVFJ9" target="_blank">
				<i class="icon-pin"></i> Localização
			  </a>
			</p>
			<p>Para reservar no <a href="https://www.hotel-dighton.com/en/" target="_blank">Hotel Dighton</a>, usar a referência <strong>"CASAMENTO CLÁUDIA E TO-ZÉ"</strong> via <b>reservas@hotel-dighton.com</b>. Pagamento por transferência bancária até 3 dias antes do check-in.</p>
			<ul class="list-unstyled text-left" style="margin-top: 10px;">
			  <li>- Quarto single: 81,00€</li>
			  <li>- Quarto duplo: 87,50€</li>
			  <li>- Quarto triplo: 125,00€</li>
			  <li>- Quarto comunicante (4 pessoas): 150,00€</li>
			</ul>
		  </div>
		</div>
	  </div>
	</div>
  </section>
  
  <!-- Footer -->
  <footer class="text-center" style="padding: 30px 0; background-color: #f8f8f8;">
	<small>&copy; 2024 Casamento. Template baseado em <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a></small>
  </footer>
  
  <!-- JS -->
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  
  </body>
  </html>